/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*My code*/
/*Landing page*/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #e2725b;
  font-family: PT Sans;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.loader {
  background-color: #30c5ff;
  background-image: url(../loader/loader.gif);
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.main-header {
  background-color: #e2725b;
  width: 100%;
}

.main-header .links-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  width: 319px;
  height: 100px;
}

.main-header .links-logo .logo-img .name-logo {
  margin-left: 10px;
}

.main-header .burger {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: right;
  position: absolute;
  right: 0;
  top: 30px;
}

.main-header nav .main-ul {
  position: absolute;
  right: 0;
  background-color: #30c5ff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10;
  opacity: 0;
  transition: 0.5s ease-in;
}

.main-header nav .main-ul .main-li {
  margin-bottom: 16px;
}

.main-header nav .main-ul .main-li .main-links {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.main .main-h1 {
  color: #fff;
  text-align: center;
  font-size: 52px;
  margin-bottom: 100px;
  max-width: 516px;
  max-height: 229px;
}

.main .main-p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin-top: -25px;
  max-height: 100px;
  color: #ffffff;
}

.main .main-span {
  position: absolute;
  height: 77px;
  width: 194px;
  margin-top: 400px;
  background: #30c5ff;
  border-radius: 20px;
}

.main .main-span .p-main {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 80px;
}

.main .main-img {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 280px;
  left: 0;
}

footer {
  background-color: #30c5ff;
  margin-top: auto;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  /*Landing page*/
  .main-header .burger {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    position: absolute;
    right: 0;
    top: 25px;
  }

  .main .main-h1 {
    margin-left: 400px;
    max-width: 500px;
    max-height: 163px;
  }

  .main .main-p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 439px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 500px;
    margin-top: -100px;
    color: #ffffff;
  }

  .main .main-span {
    position: absolute;
    height: 97px;
    width: 190px;
    margin-top: 400px;
    background: #30c5ff;
    border-radius: 20px;
    margin-left: 400px;
  }

  .main .main-span .p-main {
    text-align: center;
    color: #fff;
    font-size: 40px;

    line-height: 80px;
  }

  .main .main-img {
    position: absolute;
    width: 125px;
    height: 138px;
    top: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  /*Landing page*/
  .main-header .burger {
    display: none;
    width: 50px;
    height: 50px;
    float: right;
    position: absolute;
    right: 0;
    top: 30px;
  }

  .main-header nav {
    max-width: 30%;
  }

  .main-header nav .main-ul {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #e2725b;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    opacity: 1;
    transition: 0.5s ease-in;
  }

  .main-header nav .main-ul .main-li {
    margin-bottom: 0px;
    line-height: 80px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0 16px;
  }

  .main-header nav .main-ul .main-li .main-links {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }

  .main-header nav .main-ul .main-li .main-links:hover {
    color: #30c5ff;
    transition: 0.3s ease-in;
  }

  .main .main-h1 {
    font-size: 3rem;
    margin-left: 900px;
    max-width: 713px;
    max-height: 199px;
    margin-top: 100px;
  }

  .main .main-p {
    font-family: PT Sans;

    font-size: 1.5rem;
    width: 568px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 900px;

    color: #ffffff;
  }

  .main .main-span {
    position: absolute;
    height: 77px;
    width: 146px;

    background: #30c5ff;
    border-radius: 20px;
    margin-left: 900px;
  }

  .main .main-span .p-main {
    text-align: center;
    color: #fff;
    font-size: 2rem;

    line-height: 80px;
  }

  .main .main-img {
    position: absolute;
    width: 225px;
    height: 238px;
    left: 0px;
    bottom: 0px;
  }
}

@media only screen and (max-width: 640px) {
  .main .main-img {
    position: absolute;
    width: 125px;
    height: 138px;
    top: 90px;
  }
}

@media only screen and (max-width: 731px) {
  .main .main-img {
    position: absolute;
    width: 125px;
    height: 138px;
    top: 90px;
  }
}

@media only screen and (max-width: 736px) {
  .main .main-img {
    position: absolute;
    width: 125px;
    height: 138px;
    top: 90px;
  }
}

@media only screen and (min-width: 1024px) {
  .main .main-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 90px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 100px;
    width: 1000px;
  }

  .main .main-h1 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
    min-width: 500px;
    padding: 25px;
  }

  .main .main-p {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .main .main-span {
    position: absolute;
    height: 77px;
    width: 194px;
    margin-top: 400px;
    background: #30c5ff;
    border-radius: 20px;
    margin-top: 500px;
  }

  .main .main-span .p-main {
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 80px;
  }
}

@media only screen and (max-width: 280px) {
  .main .main-img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 200px;
  }
}
